<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>

	<location path="about_roundtable.aspx">
        <system.webServer>
            <httpRedirect enabled="true" destination="http://penkridgebeerfestival.co.uk/about-roundtable/" httpResponseStatus="Permanent" />
        </system.webServer>
    </location>

	<location path="beers.aspx">
        <system.webServer>
            <httpRedirect enabled="true" destination="http://penkridgebeerfestival.co.uk/beers/" httpResponseStatus="Permanent" />
        </system.webServer>
    </location>

	<location path="brewery.aspx">
        <system.webServer>
            <httpRedirect enabled="true" destination="http://penkridgebeerfestival.co.uk/brewery/" httpResponseStatus="Permanent" />
        </system.webServer>
    </location>

	<location path="contact.aspx">
        <system.webServer>
            <httpRedirect enabled="true" destination="http://penkridgebeerfestival.co.uk/contact-us/" httpResponseStatus="Permanent" />
        </system.webServer>
    </location>

	<location path="contact_us.aspx">
        <system.webServer>
            <httpRedirect enabled="true" destination="http://penkridgebeerfestival.co.uk/contact-us/" httpResponseStatus="Permanent" />
        </system.webServer>
    </location>

	<location path="location.aspx">
        <system.webServer>
            <httpRedirect enabled="true" destination="http://penkridgebeerfestival.co.uk/location/" httpResponseStatus="Permanent" />
        </system.webServer>
    </location>

	<location path="sponsors.aspx">
        <system.webServer>
            <httpRedirect enabled="true" destination="http://penkridgebeerfestival.co.uk/sponsors/" httpResponseStatus="Permanent" />
        </system.webServer>
    </location>

	<location path="sponsor_enquiry.aspx">
        <system.webServer>
            <httpRedirect enabled="true" destination="http://penkridgebeerfestival.co.uk/sponsors/enquiry/" httpResponseStatus="Permanent" />
        </system.webServer>
    </location>

	<location path="tickets.aspx">
        <system.webServer>
            <httpRedirect enabled="true" destination="http://penkridgebeerfestival.co.uk/tickets/" httpResponseStatus="Permanent" />
        </system.webServer>
    </location>

  <system.web>
        <customErrors mode="Off"/>
  </system.web>
  
  <system.webServer>

    <defaultDocument>
      <files>
        <clear/>
        <add value="index.html"/>
      </files>
    </defaultDocument>
  </system.webServer>
  
</configuration>
